- if @discussions.present?
  - @discussions.each do |discussion_notes|
    - note = discussion_notes.first
    - if note_for_main_target?(note)
      = render partial: "projects/notes/note", object: note, as: :note
    - else
      = render 'projects/notes/discussion', discussion_notes: discussion_notes
- else
  - @notes.each do |note|
    = render partial: "projects/notes/note", object: note, as: :note
    - if @issue.labels.where(title: 'Ajuda').first && !note.system
      = button_to "Upvote", {:controller =>"notes", :action => "upvote", :id => note.id, :issue_id => @issue.id}, :method => :put do
        = icon('thumbs-up')
        = note.get_upvotes.size
      = button_to "Downvote", {:controller =>"notes", :action => "downvote", :id => note.id, :issue_id => @issue.id}, :method => :put do
        = icon('thumbs-down')
        = note.get_downvotes.size
