%p#notice= notice

%p
  %b Quests activities:
  = @users_has_quests_activity.quests_activities_id
%p
  %b Users:
  = @users_has_quests_activity.users_id

= link_to 'Edit', edit_users_has_quests_activity_path(@users_has_quests_activity)
\|
= link_to 'Back', users_has_quests_activities_path
