- page_title      'Rank'
- header_title    'Rank'

%h1 Rank
Selecione a forma de exibição:
-#%select#opcao
-#  - @teste.each do |opt|
-#    %tr
-#      %td= opt
-#      %td= opt
-#      %td= opt

/ %select.teste
/   %option{:value => "ponto", :selected => params[:format] == "ponto"}= "Pontos"
/   %option{:value => "nivel", :selected => params[:format] == "nivel"}= "Nível"
/   %option{:value => "quest", :selected => params[:format] == "quest"}= "Quest"
%p
%td= link_to "PONTO", rank_path("ponto")
%p
%td= link_to "NÍVEL", rank_path("nivel")

- if @usuarios != nil
  %table.table.table-striped
    %tr
      %th
        %strong Name
      %th
        %strong Username
      %th
        %strong Score
      %th 
        %strong Nível
        - @usuarios.each do |usuario|
          %tr
            %td= usuario.name
            %td= usuario.username
            %td= usuario.score
            %td= usuario.nivel