- page_title      'Rank' 
- header_title    'Rank', rank_path

%h1 Rank
%strong Selecione a forma de exibição:
-#%select#opcao
-#  - @teste.each do |opt|
-#    %tr
-#      %td= opt
-#      %td= opt
-#      %td= opt

:css
  .btn-danger{
    width:100%;
    text-align:center;
    / border-bottom:2px solid red !important;
  }

/ %select.teste
/   %option{:value => "ponto", :selected => params[:format] == "ponto"}= "Pontos"
/   %option{:value => "nivel", :selected => params[:format] == "nivel"}= "Nível"
/   %option{:value => "quest", :selected => params[:format] == "quest"}= "Quest"


%p
%td= link_to "PONTO", rank_path("ponto") ,:class => "btn btn-danger" 
%p
%td= link_to "NÍVEL", rank_path("nivel") ,:class => "btn btn-danger" 
/ = link_to user_path(@user, :atom, { private_token: current_user.private_token }), class: 'btn btn-gray' do
/   = icon('rss')
- i = 1
- if @usuarios != nil
  %table.table.table-striped
    %tr
      %th
        %strong Name
      %th
        %strong Username
      %th
        %strong Score
      %th 
        %strong Nível
        - @usuarios.each do |usuario|
          %tr
            %td= link_to usuario.name, user_path(usuario)
            %td= link_to usuario.username, user_path(usuario)
            - if @control == 'ponto'
              %td
                -if i < 5
                  %span.label.label-danger
                    = usuario.score
                  %span.label.label-warning
                    = icon ('star-o fw')
                -if i >= 5
                  %strong
                    = usuario.score
              %td= usuario.nivel
            - if @control == 'nivel' 
              %td= usuario.score
              %td
                -if i < 5
                  %span.label.label-danger
                    = usuario.nivel
                  %span.label.label-warning
                    = icon ('star-o fw')                    
                -if i >= 5
                  %strong
                    = usuario.nivel
          - i = i + 1                  
